
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #E2DAC6;
}

h1 {
  font-family: 'Josefin Sans', serif;
  font-weight: 700;
}

h3 {
  font-family: 'Josefin Sans', serif;
  font-weight: 700;
}

h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 1.4em;
  color: #472400;
}

ul {
  text-decoration: none;
}

.container-fluid {
  margin: 0;
  padding-left: 0px;
  padding-right: 0px;
}

// Intro page masthead & universal navigation styling
.head {
  position: relative;
  z-index: -1;
  width: 100%;
  min-height: 240px;
  background-image: url(../images/kitchen-head.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.uni-nav {
  display: inline-block;
  margin-right: 30px;
  margin-top: 10px;
  color: white;
  font-size: 1.3em;
}

.head-sec {
  z-index: -1;
  width: 100%;
  min-height: 100px;
  background-image: url(../images/kitchen_cooking.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

// Intro Page Title "The Baker's Book" styling
.title-name {
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 5.75em;
  margin-top: 10px;
  border-top: 2px solid white;
}

.title-motif {
  display: inline-block;
  text-align: center;
  font-size: 2.5em;
  margin: -25px 50%;
  color: white;
}

.title-bottom {
  display: inline-block;
  border-top: 2px solid white;
}


// Login * Signup Forms styling
.form-control {
  color: #777;
}

.form-title {
  display: inline;
  font-size: 1.75em;
  color: #472400;
  text-transform: uppercase;
}

.form-rule {
  border-bottom: 1px solid #bbb;
}

.form-sect-title {
  font-family: 'Josefin Sans', serif;
  font-weight: 700;
  color: #472400;
  margin-top: 0px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.form-sect-rule {
  display: inline-block;
  border-top: 1px solid #ddd;
}

.log-form {
  margin-top: 20px;
  margin-left: 20px;
  border: 3px solid #F0AD4E;
  border-radius: 5px;
  background-color: #472400;
  color: #F0AD4E;
  padding: 14px;
}

.log-sect {
  display: inline-block;
  text-transform: uppercase;
  color: #F0AD4E;
  font-size: 1.4em;
  margin-bottom: 6px;
}

.log-entry {
  margin-bottom: 10px;
}

.log-icon {
  margin-right: 12px;
  color: #F0AD4E;
}

.divider {
  float: left;
  min-height: 260px;
  width: 1px;
  border-left: 1px solid #472400;
  margin-top: 20px;
  margin-right: 10px;
}


// Body copy, Sidebar, & general content styling
.content {
  position: relative;
  float: right;
}

.side-bar {
  position: absolute;
  float: left;

  ul {
    list-style: none;
    padding-left: 0px;
  }
}

.side-links {
  width: 150px;
  height: 45px;
  background-color: rgba(71, 36, 0, .20);
  border-bottom: 2px solid #F0AD4E;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: white;
  text-align: center;
  line-height: 45px;
  margin-bottom: 8px;

  a {
    text-decoration: none;
    color: white;
  }
}

.intro-box {
  margin: 0 auto;
  display: inline-block;
}

.sect-space {
  margin-top: 14px;
}

.copy-box {
  margin-top: 20px;
  margin-left: 20px;
}


// Recipe detail & edit form styling
.recipe-change {
  min-width: 356px;
  min-height: 300px;
  margin-left: 14px;
  margin-top: 10px;
  border: 1px dotted #bbb;
}

.detail-head {
  height: 80px;
  background-image: url('../images/kitchen_cooking.jpg');
  background-position: top;
  background-repeat: no-repeat;
}

.checkbox-inline {
  font-size: .85em;
  color: #777;
}

#recipeType {
  width: 110px;
  margin-right: 6px;
}

#prepTime {
  width: 90px;
  margin-left: 6px;
  margin-right: 6px;
  font-size: .9em;
}

#cookTime {
  width: 90px;
  margin-left: 6px;
  margin-right: 6px;
  font-size: .9em;
}

#cookTemp {
  width: 90px;
  margin-left: 6px;
  margin-right: 6px;
  font-size: .9em;
}

.well {
  background-color: rgba(71, 36, 0, .20);
  border: 2px solid #F0AD4E;
  margin-top: 30px;
}

// Footer section
.footer-area {
  width: 100%;
  height: 60px;
  background-color: #F0AD4E;
  padding: 10 30;
  font-size: .9em;
  text-align: center;
  line-height: 60px;
  position: fixed;
  bottom: 0px;

  a {
    text-decoration: none;
    color: #472400;
  }

  a:hover {
    text-decoration: underline;
  }
}
